[Unit]
Description=Diana Telegram Bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/samim/workspace/diana/
Environment=TOKEN=token
ExecStart=/home/samim/workspace/diana/run.sh
User=samim
Restart=on-failure

[Install]
WantedBy=multi-user.target